.palette-list-container {
	display: flex;
	/* flex-direction: column; */
	flex-wrap: wrap;
	/* flex-basis: 35%; */
}

.single-palette {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 20%;
	margin: 2%;
}
