.color-container {
	/* display: flex;
	flex-wrap: wrap; */
	height: 100vh;
}

.palette {
	display: flex;
	flex-wrap: wrap;
	height: 90%;
}

.slider {
	width: 340px;
	margin: 0 10px;
	display: inline-block;
}

/* .rc-slider-track {
	background-color: transparent;
}

.rc-slider-handle {
}

.rc-slider-rail {
	height: 8px;
} */
